.quest-card {
    position: fixed;
    left: 5px;
    top: 5px;
    background-color: #6c757d;
    width: 20%;
    z-index: 50;
}

.list-group-item {
    background-color: #6c757d;
    color: white;
}
