<div class="quest-card card mb-3" style="width: 18rem">
    <h5 class="card-header px-3">Quests</h5>
    <ul class="list-group">
        <li class="list-group-item px-3" style="color: ORANGE">
            Ich gewinne keine gelben Karten.
        </li>
        <li class="list-group-item px-3" style="color: YELLOW">
            Ich gewinne genau einen Stich.
        </li>
        <li class="list-group-item px-3" style="color: PURPLE">
            Ich gewinne keine 5.
        </li>
    </ul>
</div>
