<div class="quest-card card mb-3" style="width: 18rem">
    <div class="card-header">
        <div class="row g-0 justify-content-between align-items-center">
            <h5 class="col-10 card-title">Quests</h5>
            <div class="col-2">
                <button
                    class="btn btn-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target=".quest-body"
                    (click)="toggleQuestWindow()"
                >
                    <i
                        class="bi"
                        [ngClass]="{
                            'bi-chevron-up': !this.collapsed,
                            'bi-chevron-down': this.collapsed
                        }"
                    ></i>
                </button>
            </div>
        </div>
    </div>
    <ul class="list-group collapse show quest-body" *ngIf="game">
        <li
            class="list-group-item px-3"
            *ngFor="let qp of game.questPlayers"
            [ngStyle]="{ color: game.lobby.group.colors[qp.player.userID] }"
        >
            {{ qp.quest.name.de }}
            <i
                class="bi"
                [ngClass]="{
                    'bi-exclamation-square failed': !this.isQuestFulfilled(
                        qp.quest,
                        qp.player
                    ),
                    'bi-check-square fulfilled': this.isQuestFulfilled(
                        qp.quest,
                        qp.player
                    )
                }"
            ></i>
        </li>
    </ul>
</div>
