@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 8px #ffded6, inset 0 0 8px #ffded6;
    }
    50% {
        box-shadow: 0 0 16px #ffded6, inset 0 0 14px #ffded6;
    }
    100% {
        box-shadow: 0 0 8px #ffded6, inset 0 0 8px #ffded6;
    }
}

.players-turn {
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 8px #ffded6, inset 0 0 8px #ffded6;
    -webkit-animation: pulse 2s linear 1s infinite;
    padding: 10px;
}
