<div class="container d-flex p-3 mx-auto flex-column">
    <div class="mb-5">
        <h1 class="heading">Lobbies list</h1>
    </div>
    <div class="container">
        <table class="table table-list">
            <thead>
                <tr>
                    <th scope="col">
                        {{ 'pages.lobbieslist.table.id' | translate }}
                    </th>
                    <th scope="col">
                        {{ 'pages.lobbieslist.table.players' | translate }}
                    </th>
                    <th scope="col">
                        {{ 'pages.lobbieslist.table.mission' | translate }}
                    </th>
                    <th scope="col">
                        {{ 'pages.lobbieslist.table.state.title' | translate }}
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let lobby of lobbies">
                    <td data-label="ID">{{ lobby._id }}</td>
                    <td data-label="Players">
                        {{ lobby.group.groupMembers.length }}
                    </td>
                    <td
                        data-label="Mission"
                        [appDataLang]="lobby.mission?.name"
                    ></td>
                    <td data-label="State">
                        {{
                            'pages.lobbieslist.table.state.' + lobby.status
                                | translate
                        }}
                    </td>
                    <td data-label=" ">
                        <button
                            class="btn btn-sm btn-primary"
                            routerLink="/lobby/{{ lobby.group._id }}"
                            routerLinkActive="active"
                            ariaCurrentWhenActive="page"
                        >
                            {{ 'pages.lobbieslist.join' | translate }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
