<h1>Lobbies List</h1>
<table>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Player</th>
        <th>Mission</th>
        <th>State</th>
    </tr>
    <tr *ngFor="let lobby of lobbies">
        <td>
            <button
                routerLink="/lobby/{{ lobby.group._id }}"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
            >
                join
            </button>
        </td>
        <td>{{ lobby._id }}</td>
        <td>{{ lobby.group.groupMembers.length }}</td>
        <td>{{ lobby.mission }}</td>
        <td>{{ lobby.status }}</td>
    </tr>
</table>
