<div class="chat-card card w-auto">
    <div class="card-header">
        <div class="row g-0 justify-content-between align-items-center">
            <h5 class="col-10 card-title">
                Chat
                <span
                    class="badge rounded-pill notification"
                    *ngIf="notifications > 0"
                >
                    {{ notifications }}
                    <span class="visually-hidden">unread messages</span>
                </span>
            </h5>
            <div class="col-2">
                <button
                    class="btn btn-secondary"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target=".multi-collapse"
                    (click)="toggleChatWindow()"
                >
                    <i
                        class="bi"
                        [ngClass]="{
                            'bi-chevron-down': !this.collapsed,
                            'bi-chevron-up': this.collapsed
                        }"
                    ></i>
                </button>
            </div>
        </div>
    </div>
    <div
        #chatBody
        class="card-body collapse multi-collapse"
        [ngClass]="{ show: !collapsed }"
    >
        <p
            class="m-0 p-0"
            *ngFor="let m of messages"
            [ngStyle]="{ color: m.color }"
        >
            {{ m.message }}
        </p>
    </div>
    <div
        class="card-footer collapse multi-collapse"
        [ngClass]="{ show: !collapsed }"
    >
        <div class="row text-center">
            <div class="col-9">
                <input
                    class="form-control w-100"
                    [(ngModel)]="message"
                    required
                />
            </div>
            <div class="col-3 align-self-end">
                <button class="btn btn-primary w-100" (click)="sendMessage()">
                    <i class="bi bi-send"></i>
                </button>
            </div>
        </div>
    </div>
</div>
