@media (min-width: 700px) {
    .home-div-buttons {
        display: flex;
    }
    .home-div-info {
        margin-bottom: 10%;
    }
    .home-container-heading {
        margin-bottom: 3rem;
    }

    .inline {
        display: inline;
    }

    .inline-container {
        display: flex;
    }
    i.inline {
        margin-left: 5px;
    }
}

@media (max-width: 699px) {
    .heading {
        text-align: left;
    }
    .inline {
        margin-left: 0;
    }
    p.inline {
        margin-bottom: 0;
    }
}

.heading {
    padding: 10px;
}

div {
    display: block;
}

.home-container-btn {
    text-align: left;
    margin: 0.5rem;
    width: 100%;
}

.home-div-info {
    text-align: left;
    padding: 10px;
}

.game-rules {
    position: fixed;
    right: 5px;
    top: 5px;
}
