:host {
    display: block;
    margin-bottom: 10px;
}
.card {
    height: 150px;
    width: 100%;
    line-height: 150px;
    padding: 0;
}

.red {
    background-color: #ff80be;
}

.blue {
    background-color: #8280ff;
}

.green {
    background-color: #80ffc2;
}

.yellow {
    background-color: #fdff80;
}
