<div class="container-fluid" *ngIf="game">
    <app-quests [game]="game"></app-quests>
    <app-players [game]="game"></app-players>

    <!-- played cards -->
    <div class="container played-cards">
        <app-cards [cards]="playedCards"></app-cards>
    </div>

    <!-- player cards -->
    <div
        class="container player-cards"
        [ngClass]="{ 'players-turn': this.isPlayersTurn() }"
    >
        <app-cards
            [cards]="playerCards"
            (cardClick)="playCard($event)"
        ></app-cards>
    </div>
</div>

<app-chat
    *ngIf="game?.lobby?.group?._id"
    [groupId]="game?.lobby?.group?._id"
></app-chat>

<!-- {{ game | json }} -->
