.player-cards {
    bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.played-cards {
    margin-top: 40px;
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 8px #ffded6, inset 0 0 8px #ffded6;
    }
    50% {
        box-shadow: 0 0 16px #ffded6, inset 0 0 14px #ffded6;
    }
    100% {
        box-shadow: 0 0 8px #ffded6, inset 0 0 8px #ffded6;
    }
}

.players-turn {
    background-color: transparent;
    border-radius: 20px;
    box-shadow: 0 0 8px #ffded6, inset 0 0 8px #ffded6;
    -webkit-animation: pulse 2s linear 1s infinite;
    padding: 10px;
}
