.rules-container-heading {
    margin-bottom: 1.5rem;
}

.container {
    margin-bottom: 10%;
}

.rules-container {
    text-align: left;
}

i.controller {
    font-size: 50px;
}

.return {
    position: fixed;
    left: 5px;
    top: 5px;
}
