<div class="container d-flex h-100 p-3 mx-auto flex-column">
    <button class="return btn btn-lg btn-primary">
        <i class="bi bi-arrow-return-left"></i>
    </button>
    <div class="rules-container-heading">
        <h1 class="heading">{{ 'pages.rules.title' | translate }}</h1>
        <i class="controller bi bi-controller"></i>
    </div>
    <div class="container">
        <div class="container">
            <h3>{{ 'pages.rules.mission.title' | translate }}</h3>
            <div class="rules-container">
                <p>{{ 'pages.rules.mission.choose_mission' | translate }}</p>
                <p>{{ 'pages.rules.mission.play_mission' | translate }}</p>
                <p>{{ 'pages.rules.mission.end_mission' | translate }}</p>
            </div>
        </div>
        <div class="container">
            <h3>{{ 'pages.rules.cards.title' | translate }}</h3>
            <div class="rules-container">
                <p>{{ 'pages.rules.cards.general' | translate }}</p>
                <p>{{ 'pages.rules.cards.play_cards' | translate }}</p>
                <p>{{ 'pages.rules.cards.end_stitch' | translate }}</p>
            </div>
        </div>
        <div class="container">
            <h3>{{ 'pages.rules.communication.title' | translate }}</h3>
            <div class="rules-container">
                <p>{{ 'pages.rules.communication.general' | translate }}</p>
                <p>{{ 'pages.rules.communication.rules' | translate }}</p>
                <p>{{ 'pages.rules.communication.honesty' | translate }}</p>
            </div>
        </div>
    </div>
</div>
