.handCardsContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.handCards {
    display: flex;
    box-shadow: -1rem 0 3rem #000;
    position: relative;
    transition: 0.4s ease-out;
    border-radius: 10px;
}

.handCards:not(:first-child) {
    margin-left: -20px;
}

.handCards:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.handCards:hover ~ .handCards {
    position: relative;
    transition: 0.4s ease-out;
    left: 20px;
}
